<CascadingValue Value="this">
    @ChildContent @* Mandatory to initialize the childs, otherwise they won't call "AddEntry" *@

    <div class="flow-list">
        @foreach (var entry in listEntries)
        {
            <div class="list-entry">
                @entry.ChildContent
            </div>
        }
    </div>
</CascadingValue>

@code {
    private List<Entry> listEntries = new List<Entry>();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public void AddEntry(Entry entry)
    {
        this.listEntries.Add(entry);
        this.StateHasChanged();
    }
}
